<!DOCTYPE html>
<html lang="pt-br">
  <%- include("head") %>
  <body>
    <%- include("header") %>
    <main>
      <div class="jumbotron">
        <h1>Sobre min</h1>
        <p>
          Eae, meu nome é Drack um pequeno programador curioso no mundo Backend.
        </p>
      </div>
    </main>
    <%- include("footer"); %>
  </body>
</html>
