<!DOCTYPE html>
<html lang="pt-br">

<%- include("head"); %>

<body class="container">
  <%- include("header"); %>
  <main>
    <div>
      <h1 class="jumbotron"">Node Com EJS</h1>
        <p>Vamos começar a trabalhar com Node e engine View EJS</p>
      </div>
    </main>
    <%- include("footer") %>
  </body>
</html>